In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date
import math

%matplotlib inline

In [163]:
p_info = pd.read_csv("./korea_dataset/PatientInfo.csv")
p_route = pd.read_csv("./korea_dataset/PatientRoute.csv")

In [173]:
p_info.head()

,patient_id,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,0,1964.0,56,0,0,0,1.0,0,1.0,NaN,75.0,1/22/20,1/23/20,2/05/20,NaN,0
1,1000000002,0,1987.0,33,0,0,1,1.0,0,1.0,NaN,31.0,NaN,1/30/20,3/02/20,NaN,0
2,1000000003,0,1964.0,56,0,0,2,1.0,1,2.0,2.002000e+09,17.0,NaN,1/30/20,2/19/20,NaN,0
3,1000000004,0,1991.0,29,0,0,3,1.0,0,1.0,NaN,9.0,1/26/20,1/30/20,2/15/20,NaN,0
4,1000000005,1,1992.0,28,0,0,4,1.0,1,2.0,1.000000e+09,2.0,NaN,1/31/20,2/24/20,NaN,0

In [165]:
p_info.drop("global_num", axis=1, inplace=True)

In [166]:
d_disease = {"TRUE": 0, "FALSE": 1}
d_gender = {"male": 0, "female": 1, "n/a": 2}
d_state = {"released": 0, "isolated": 1, "deceased": 2}

p_info["disease"].fillna("FALSE", inplace=True)
p_info["disease"] = p_info["disease"].map(d_disease)

p_info["sex"].fillna("n/a", inplace=True)
p_info["sex"] = p_info["sex"].map(d_gender)

p_info["state"] = p_info["state"].map(d_state)

In [167]:
d_infection_case = {}

infection_case_counter = 0
p_info["infection_case"].fillna("etc", inplace=True)

for case in p_info["infection_case"]:
    if case not in d_infection_case:
        d_infection_case[str(case)] = infection_case_counter
        infection_case_counter += 1

p_info["infection_case"] = p_info["infection_case"].map(d_infection_case)

In [168]:
d_city = {}

# TODO: Modify - add props. -gu, -gun, -si with regex

city_counter = 0
p_info["city"].fillna("etc", inplace=True)

for city in p_info["city"]:
    if city not in d_city:
        d_city[str(city)] = city_counter
        city_counter += 1

#p_info["city"].unique()
#p_info["city"].isnull().values.any()
p_info["city"] = p_info["city"].map(d_city)

In [169]:
d_province = {}

# TODO: Modify - add props. Special City / Metropolitan City / Province(-do) with regex

province_counter = 0

for province in p_info["province"]:
    if province not in d_province:
        d_province[str(province)] = province_counter
        province_counter += 1

p_info["province"] = p_info["province"].map(d_province)

In [170]:
d_country = {}

country_counter = 0
p_info["country"].fillna("etc", inplace=True)

for country in p_info["country"]:
    if country not in d_country:
        d_country[str(country)] = country_counter
        country_counter += 1

p_info["country"] = p_info["country"].map(d_country)

In [172]:
year = date.today().year
for count, age in enumerate(p_info["age"], 0):
    try:
        n_age = int(year-int(p_info["birth_year"][count]))
        p_info.at[count, "age"] = n_age
    except:
        continue

c_patient_info = p_info[p_info["age"].notnull()]
c_patient_info = p_info[p_info["birth_year"].notnull()]

a_avg = c_patient_info["age"].values.mean()
p_info["age"].fillna(a_avg, inplace=True)

b_avg = c_patient_info["birth_year"].values.mean()
p_info["birth_year"].fillna(b_avg, inplace=True)